<?xml version="1.0"?>

<launch>

  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node"
	name="pointcloud_to_laserscan">

    <remap from="cloud_in" to="velodyne_points"/>
    <rosparam>
      range_min: 0.45
      range_max: 4.0
      angle_min: -3.14
      angle_max: 3.14
      min_height: -0.05
      max_height: 0.05
      use_inf: true
    </rosparam>
  </node>

</launch>