<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find mobile_base_gazebo)/launch/spawn_gazebo.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg 
        name="urdf_robot_file"
        value="$(find mobile_base_description)/urdf/mobile_base.urdf.xacro"
        />
        <arg name="robot_name" value="Mobile_Base" />
    </include>

    <include file="$(find mobile_base_description)/launch/spawn_controller.launch"></include>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    </node>

    <!-- Combine joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!-- Show in Rviz   -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mobile_base_description)/rviz_config/show_base.rviz"/> -->


</launch>